.ResultsScreen.container{
    max-width: 1000px;
}

/*margin fix*/
.panel .row{
    margin-left: 0px;
    margin-right: 0px;
    padding-top:10px;
}

.click_message{
    margin-bottom: 20px;
}

.ResultsScreen.open .results{
    display: none;
}

.ResultsScreen.open .panel{
    border: none;
}

.ResultsScreen.open .right{
    /*position: fixed;
    height: 100%;
    overflow-y: scroll;*/
}

.ResultsScreen.open .click_message{
    display: none;
}

.btn:focus{
    outline-style: none;
}

.load_more{
    color: lightgray;
    padding-left: 40px;
    padding-top: 0px;
}

.social{
    text-align: center;
}

.social button{
    background-color: #4267b2;
}
