.WelcomeScreen{
    margin-top:15px;
    margin-bottom: 15px;
}

.panel.dragover{
    border: 3px dashed maroon;
}

#img-checkboxes{
    float:right;
    border: 1px #ddd dashed;
}

a{
    text-decoration:underline;
}
