.WelcomeScreen{
    margin-top:15px;
    margin-bottom: 15px;
}

.panel.dragover{
    border: 3px dashed maroon;
}

img{
    border: 1px #ddd dashed;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration:underline;
}
